[2012-01-24 14:10] donv opened #1 "Move to GitHub"

[2012-01-24 14:11] donv opened #2 "Rename to SQLDroid"
All classes and texts have been renamed to SQLDroid.

[2012-01-24 14:13] #1 closed, assigned to donv

[2012-01-24 14:13] #2 closed, assigned to donv

[2012-03-20 18:59] chandanjog opened #3 "Exception while trying to load sqldroid-0.3.0 on using active record with ruboto."
Getting the following exception stack trace while trying to use active record with ruboto by following the steps mentioned in the ruboto wiki. Also the generated bundle.jar seems to have an empty sqldroid-0.3.0.jar.rb.

D/dalvikvm(  639): GC_FOR_ALLOC freed 1383K, 8% free 22308K/24071K, paused 444ms
W/System.err(  639): org.jruby.exceptions.RaiseException: (LoadError) no such file to load -- sqldr

[2012-03-22 04:42] #3 closed, assigned to nobody

[2012-09-21 21:55] DaveGit opened #4 "Cannot download sqldroid-1.0.0RC1.jar"
I cannot download sqldroid-1.0.0RC1.jar. I get an error message file not found.

[2012-09-22 14:21] #4 closed, assigned to nobody

[2012-10-26 13:21] donv opened #5 "Add test suite"
@dperiwal @ergouser @kristianlm @SQLDroid @SQLDroid/developers

Addressing each of you in case you are not watching the repository :)

Before releasing the 1.0.0 version, I think we should have a working test suite.

I experienced a regression between version 0.3.0 and 1.0.0.RC1, and we really should avoid that.

I can add a test suite using Ruboto.  I am on the Ruboto team, and that is how I use

[2012-11-15 21:13] MindMusic opened #6 "Tries to parse other DB types."
I have a piece of code that uses both SqlDroid and MySQL's JDBC driver.  Each of these drivers works properly when used alone, but when I register the SQLDroid driver with DriverManager before the MySQL driver, then the SqlDroid connection routine will work, but the MySQL database connection routine will fail with a **SQLite** error (as if the connection is trying to be opened by SqlDroid).  If I

[2012-12-02 18:50] CaioPortugal opened #9 "Connection Problem"
I've been trying to connect my database using your driver, but I have a problem ... I can load the driver but can't connect my database . I know how to use JDBC with Java , however it's too complicated connect android and my sqlite's database.  Many people have the same problem  ! Could you make a tutorial or video about " how to use SQLdroid step by step"?  , I didn't find on Youtube or other sit

[2013-01-04 15:55] DeegC opened #10 "RC4: getObject is throwing NoSuchMethodError exception on Android 2.3.7"
SQLDroid RC4 is throwing an exception on Android 2.3.7 when trying to execute a SELECT statement.  Output from logcat and full stack trace below.  This problem was first discussed here: https://groups.google.com/forum/?fromgroups=#!topic/sqldroid/JdItpCnUFzc

01-03 20:03:48.210: V/SQLDroid(3011): New sqlite jdbc from url 'jdbc:sqldroid:/data/data/org.deeg.uds/uds-config.sqlite.db', '{password=, us

[2013-01-22 17:06] swheater opened #11 "RC4 on Android 4.2.1"
I am trying to write a simple test App for Android 4.2.1, using SQLDroid 1.0.0.RC4, but I am unable to create a database, despite using the ADDITONAL_DATABASE_FLAGS of CREATE_IF_NECESSARY and OPEN_READWRITE.

Sqldroid(13874): new sqlite jdbc from url 'jdbc:sqldroid: /data/data/org.test.android/databases/TestTest.db', '{AdditionalDatabaseFlags=268435456}'
SQlDRoid(13874): opening database  /data/da

[2013-01-29 18:23] #10 closed, assigned to donv

[2013-01-31 12:50] TexKiller opened #12 "Missing method getType, used at line 430 of SQLDroidResultSet"
That method is to be used to dinamically get the data type of the column on the getObject(String column) method, but it doesn't seem to exist, and getObject throws a NoSuchMethodError exception.

Edit: Oops, I hadn't seen the closed issue... Sorry for the dupe, but I've managed to close it.

Anyway, isn't there a way of making the IDE (I use Eclipse, don't know about others) warn about the API ver

[2013-01-31 13:31] #12 closed, assigned to donv

[2013-02-18 08:12] k3b opened #13 "cannot create new sqlite database"
sqldroid works as expected to open and write to an existing sqLite databasefile.

If i want to create a new database in memory ("jdbc:sqlite:") or as file ("jdbc:sqlite:" + this.getDatabasePath("dummyDatabase2.db"))

I get the "error Failed to setLocale() when constructing, closing the database"
similar to http://stackoverflow.com/questions/12601874/create-table-android-metadata-failed-in-android-

[2013-03-21 20:45] kttran opened #14 "Failed at 'rake jar'"
I pulled out the latest code as of today.

[2013-03-24 02:51] DeegC opened #15 "RC9: NPE in SQLDroidConnection.finalize on Android 2.3.7"
I'm getting the following exception in the LogCat at the beginning of my application:

03-23 21:50:30.530: I/dalvikvm(6151): Uncaught exception thrown by finalizer (will be discarded):
03-23 21:50:30.530: I/dalvikvm(6151): Ljava/lang/NullPointerException;:
03-23 21:50:30.530: I/dalvikvm(6151):   at org.sqldroid.SQLDroidConnection.isClosed(SQLDroidConnection.java:276)
03-23 21:50:30.530: I/dalvikvm

[2013-03-24 09:45] #15 closed, assigned to nobody

[2013-03-24 09:46] #14 closed, assigned to donv

[2013-03-28 01:04] kttran opened #16 "Failed at 'rake jar'"
I worked on something else before getting back to this thread.

I pulled Android Development Toolkit (adt) and set the ANDROID_HOME env to the sdk directory inside adt/. I passed the first problem.

Now, the latest 'rake jar' generated the errors as in the below. Do you know what am I missing? The same errors came up whether I tried inside project.properties 'target=android-10' or 'target=android-

[2013-04-08 18:40] #16 closed, assigned to nobody

[2013-05-13 15:11] fefrain opened #17 "SQLDroidDatabaseMetaData/getColumns nullable handling bug"
I think that lines 227 and following in SQLDroidDatabaseMetaData contain a keystroke error:
They should be:

if ( nullable == 0 ) {
    column[10] = new Integer(1);
}
else if ( nullable == 1 ) {
    column[10] = new Integer(0);
}

instead of new Integer[X].
Thanks.

[2013-05-13 15:13] SteRiccio opened #18 "Mavenize project"
I'm using this project inside a greater one that uses maven. Is it possible to have it "mavenized"?
Thanks

[2013-05-13 15:16] SteRiccio opened #19 "SQLDroidDatabaseMetaData / getTables case sensitivity for table types attributes"
Is it possible to make this method case insensitive for table type attributes?
This can be easily implemented using the "upper" function in the sql select and calling "toUpperCase" on table type Java parameter.
Many thanks.

[2013-05-20 02:10] GuguAbrams opened #20 "SQLiteDatabase/changedRowCount: maybe we can use "select changes()" to get the count of changed rows"
Thanks for your great job.

I've recently found the CHANGES() pragma available inside of SQLite. So I'm adding some code:

SQLiteStatement stmt = sqliteDatabase.compileStatement("SELECT CHANGES()");
 long cnt = stmt.simpleQueryForLong();
 stmt.close();
 return (int)cnt;

:D

[2013-08-05 01:49] menny opened #21 "Auto-correct should not happen when clicking the ACTION key"
Since the ACTION key may initiate an unrecoverable bad correction (like sending a message, or searching in Google).

[2013-08-05 01:51] #21 closed, assigned to nobody

[2013-11-14 12:38] femski opened #23 "SQLDroid connection pooling issue"
I am getting random errors like below (attempt to reopen closed connection etc).

It seems SQLDroid keeps track of open connections and closes the underlying database when no connections are left open. But it seems to close live connections sometimes - I am not sure how.

When I do getConnection and close on a connection - I assume no one else can close these connections before I close it. But it

[2014-01-13 20:18] donv opened #24 "Blob length off by one"
Running the blob tests has revealed that blobs report a length that is one too high.

[2014-01-18 02:13] dperiwal opened #25 "Inconsistent usage of lastColumnRead in SQLDroidResultSet"
While reviewing the code in SQLDroidResultSet.java, I noticed that some methods (e.g., getBoolean(int index)) set the lastColumnRead variable in the JDBC cursor style (one-based index) whereas some other methods (e.g., getBoolean(String columnName)) set it in the Android database cursor style (zero-based index).  This may cause a method like wasNull() that expects a JDBC style value for lastColumn

[2014-01-20 23:40] dperiwal opened #26 "Semantics of resultSetAvailable in the method SQLDroidStatement.execute(Sring sql)"
The method execute(Sring sql) in SQLDroidStatement.java has the following code at the end:

boolean resultSetAvailable = (rs != null);   //*********
return resultSetAvailable;

Seems like, for any SELECT statement, even if no row is returned, the variable c of the type android.database.Cursor would be initialized to a non-null value unless there was some exception.  Consequently, the variable rs o

[2014-01-31 22:21] #25 closed, assigned to dperiwal

[2014-02-07 22:28] dperiwal opened #29 "Make setAutoCommit() method implementation safe."
In the class SQLDroidConnection, modify the setAutoCommit() method to invoke endTransaction() only after checking that the current thread has a transaction pending in the database.  This is to avoid some intermittent 'database locked' behavior observed from the android.database.sqlite.SQLiteDatabase class in some versions of Android SDK. I don't have a reproducible use case but the change should m

[2014-03-03 19:32] axelfontaine opened #31 "Upload to Maven Central"
This is a usability must.

[2014-03-14 23:14] githubnemo opened #32 "All not implemented methods should raise exceptions"
I don't think it is a good idea to pretend that not implemented methods work and simply return a dummy value, e.g. `null`.

Methods like

[code]

should be converted to

[code]

Reasoning: it's way easier to debug. I just tracked down a `NullPointerException` because a prepared statement was `null` altough it should not have been. An exception about the method not being implemented would have help

[2014-04-15 20:26] tschoenbachler opened #33 "Getting incorrect timestamps after 12:00 noon"
Traced to the following code segment - we modified the hh to HH in the simple date formatter and all is well.

  public Timestamp getTimestamp(int index) throws SQLException {
    try {
      ResultSetMetaData md = getMetaData();
      Timestamp timestamp = null;
      switch ( md.getColumnType(index)) {
        case Types.INTEGER:
        case Types.BIGINT:
          timestamp = new Timestamp(get

[2014-04-18 09:54] axelfontaine opened #34 "Implement connection.getMetaData().getURL()"
This is quite useful for diagnostics and should be trivial to implement

[2014-04-18 09:56] axelfontaine opened #35 "Implement connection.getMetaData().getDatabaseMajorVersion() and minor version"
This is essential for diagnostics and knowing which features are available.

[2014-04-18 15:59] axelfontaine opened #36 "ResultSet.getObject("columnName") returns value from preceding column"
This is an off by one with the index somewhere. It is causing me all kinds of classcastexceptions as the types don't match. getInt() or getString() are not affected.

This is a biggie, as it will lead to data corruption for sure.

[2014-04-18 16:34] axelfontaine opened #37 "datetime('now') causes java.text.ParseException: Unparseable date"
I have a table like this

[code]

Reading from it using resultSet.getTimeStamp(field) causes

java.text.ParseException: Unparseable date: "2014-04-18 16:27:05" (at offset 19)
at java.text.DateFormat.parse(DateFormat.java:626)
at org.sqldroid.SQLDroidResultSet.getTimestamp(SQLDroidResultSet.java:593)
at org.sqldroid.SQLDroidResultSet.getTimestamp(SQLDroidResultSet.java:610)

Due to the missing mill

[2014-05-13 10:47] murraycu opened #42 "connect() can throw a null exception"
In this code, with sqldroid-1.0.0RC1.jar, the exception e is null if the file already exists. In my case the file was empty.

Connection conn = null;
try {
	Properties properties = new Properties();
	properties.put(SQLDroidDriver.ADDITONAL_DATABASE_FLAGS, SQLiteDatabase.CREATE_IF_NECESSARY | SQLiteDatabase.OPEN_READWRITE);

	conn = new org.sqldroid.SQLDroidDriver().connect(jdbcURL, properties);
	/

[2014-07-30 23:23] rotter opened #43 "Database with ?timeout=xxx param carries that param on the filename"
I tried to use the timeout param, but the database file gets created with the "?timeout=xx" param on the filename, which I dont think is the expected behavior.

This caused a lot of problems in my code, as my code to delete the file would file because I tried to delete the raw filename, without the "?timeout" part. I had to use a rooted device to find out the problem.

And "?" is usually a filenam

[2014-08-14 23:33] yanaga opened #44 "Create a LICENSE file on the project"
The original project site on google code informs that the project uses an Eclipse Public License 1.0. But the project on github says nothing about it. Without the informed license most people (like me) simply can't use it on any commercial projects.

Without it also I can't upload it to maven central.

[2014-09-01 00:52] #44 closed, assigned to donv

[2014-09-01 01:09] #31 closed, assigned to nobody

[2014-09-01 20:38] dperiwal opened #48 "Package naming problem when importing SQLDroid project in Eclipse"
I forked the SQLDroid project on GitHub and cloned it locally on my local Windows machine in a clone_directory.

Within Eclipse (Version: 4.2.1), I created a new project for SQLDroid using: <b>File -> New -> Project -> Android Project From Existing Code </b>.
Then I specified the root directory as clone_directory/SQLDroid.
I checked the boxes for <clone Directory>/SQLDroid and test under <b>Projec

[2014-09-02 21:35] #48 closed, assigned to nobody

[2014-09-22 09:11] migel opened #50 "getGeneratedKeys for PreparedStatement"
Hi,

The ```getGeneratedKeys``` method of  ```SQLDroidPreparedStatement``` throws a "not implemented" exception but the same method in ```SQLDroidStatement``` is implemented as:

[code]

Is there a reason that it can't be implemented the same in ```SQLDroidPreparedStatement```? I've tried it and it seems to work; but I have very little experience with JDBC drivers; is there something I'm missing a

[2015-08-29 09:25] zac1608 commented on #33
eg. timestamp 2015-08-29 12:35:31 getHours() returns 0, also getTimeStamp sets hours to 0.

[2015-08-29 09:29] donv commented on #33
Hi @zac1608 and @tschoenbachler !

I am busy with other projects.  Can you do a pull request?

[2015-08-29 12:49] zac1608 commented on #33
@donv, I'll do that as soon as I prepare good patch for it. Workaround is for app level :)

[2015-08-29 16:34] zac1608 commented on #33
I can confirm that changing SimpleDateFormat dateFormat = new SimpleDateFormat("yyyy-MM-dd hh:mm:ss.S"); to SimpleDateFormat dateFormat = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss.S"); fixes problem (hh -> HH).

[2015-08-31 04:57] donv commented on #33
Cool!

[2015-11-16 18:54] Moliholy opened #52 "Thread can never execute the query in the database"
Hello, and first of all thanks for this awesome library.

I have an issue when executing PreparedStatements inside an AsyncTask. Firstly I execute a normal statement, and secondly I try to execute a PreparedStatement. The first statement is successfully created, but the second one stays forever in the following line:

[code]

[2015-11-17 07:34] donv commented on #52
Hi @Moliholy !

This sounds like a multithreading locking issue.  If you could try to dump the threads when the app is locked, that would give a bit more information.

[2015-11-17 11:31] Moliholy commented on #52
As far as I've seen it looks like the AsyncTask threads are not destroyed immediately after finishing their job. That means that if the database is opened in RW mode (which actually is the default behaviour of the library) then other threads won't be able to access it while the first thread lives due to the android sharing policy in RW database connections, which states that multithreading in RO c

[2015-11-17 11:58] donv commented on #52
Sounds like something we should handle.  Do you have time to look at the code and do a pull request?  I'd be happy to merge and release the changes.

[2015-11-18 09:06] Moliholy commented on #52
Of course, I'll take a look to see if I can make it work and submit a PR with the changes

[2016-02-19 03:55] michaelye opened #53 "Need Data change listener feature"
Hi, thanks for the good lib.
I wanna know ,whether you could add a feature that, when the data in the table is modified or added or deleted,there is a change listener can be trigger.Thanks!

[2016-02-24 15:34] jhannes opened #54 "Please setAutoCommit(true) after commit or rollback"
When running transactions in separate threads, the connections are not released. The result is that all but the first thread will get messages like this:

    02-24 10:29:24.614 13689-13724/XXXXX W/SQLiteConnectionPool: The connection pool for database '/data/data/XXXXX.db' has been unable to grant a connection to thread 323 (pool-1-thread-1) with flags 0x2 for 2430.154 seconds.

[2016-02-24 15:35] jhannes commented on #52
@Moliholy Could this be the same as my issue here: https://github.com/SQLDroid/SQLDroid/issues/54

[2016-02-24 17:04] Moliholy commented on #52
@jhannes I'd bet it is related. Connections are always opened with write permissions, and no more than one thread can access simultaneously in these conditions. In that context, it doesn't really matter if you use autocommit or not, simply accessing in multithreaded mode is enough to reproduce the issue.
... or at least that's my guess, I might be wrong.

My final workaround was to have a unique t

[2016-02-25 03:51] jhannes commented on #52
@Moliholy I managed to make the problem dissappear for me if I did setAutoCommit(false) after commit.

If the problem returns I think your RepositoryManager may be my solution as well. Thanks for the tip.

[2016-02-25 20:51] dperiwal commented on #54
As per JDBC standard, the default auto-commit mode for a database connection is true. So if you get a new connection, it's auto-commit mode should be true. However, once you have the connection and have explicitly set its auto-commit mode to false, it would not be appropriate for the JDBC driver to reset the auto-commit mode to true after each transaction commit because you may want to continue us

[2016-02-25 21:53] dperiwal commented on #52
@jhannes Did you mean to say "I managed to make the problem disappear for me if I did setAutoCommit(true) after commit"? That's what I read in your commented code in #54

[2016-02-26 08:07] jhannes commented on #52
@dperiwal. Whops. Yes, you are correct. Auto commit is set to *true*.

[2016-02-26 08:12] jhannes commented on #54
I see your point. But I haven't seen any other database that run into the same lock problem before and I expect others may run into the same headache. Isolating the the the problem was extremely time consuming.

As an aside, I think the jdbc transaction model is very poorly designed.

[2016-03-17 15:23] Dunemaster commented on #54
There is another issue with autocommit mode.
If autocommit is set to false, connections are not released from android sqllite connection pool even when the JDBC connection is properly closed.

In logcat there are messages like this:
**The connection pool for /data/data/dev.xx.xx/databases/XX has been closed but there are still 1 connections in use.  They will be closed as they are released back to

[2016-04-04 10:48] camueller commented on #23
This should be fixed by my pull request https://github.com/SQLDroid/SQLDroid/commit/4666757512f8019ad1f11eed3c5d5c16c7bb7297

[2016-04-04 22:00] dperiwal commented on #23
The pull request 4666757 looks good to me.

[2016-04-25 08:20] jhannes opened #56 "NullPointerException in SQLDroidResultSet.getTimestamp"
NullPointerException when doing getTimestamp on a null value.

java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference
	at java.text.SimpleDateFormat.parse(SimpleDateFormat.java:1035)
	at java.text.DateFormat.parse(DateFormat.java:577)
	at org.sqldroid.SQLDroidResultSet.getTimestamp(SQLDroidResultSet.java:543)

The code is current

[2016-04-30 20:47] spyhunter99 commented on #5
I'm doing some work over here to get everything rigged into maven. Can someone explain the build process and the "compat" src folder?

[2016-04-30 21:16] spyhunter99 commented on #5
quick update, i was able to get the test to run on device (android) but there's at least one failure

`
  statement = con.createStatement();
      hasResultSet = statement.execute("SELECT * FROM dummytable where name = 'fig'");  // no matching result
      assertFalse("Should not return a result set", hasResultSet);
`

once this is working i can open a PR

[2016-04-30 23:05] spyhunter99 commented on #5
after more testing i was able resolve a failing unit test related to empty vs null resultsets. however i still have 5 asserts that fail, all of them are related to update statements not returning the correct number of rows affected. any pointers?

[2016-04-30 23:15] spyhunter99 commented on #5
Found the root cause.
[code]

so the fix is to change the test to assert >= 1

[2016-05-01 00:18] spyhunter99 opened #58 "Update wiki/readme for Android minSdk level"
looks like the min is higher than 10, do we have this documented anywhere?

[2016-05-01 22:13] spyhunter99 opened #60 "Unit test failure under android"
as mentioned in #5 i found a which was causing unit test failures on android. this was related to PreparedStatement return value being incorrect under certain conditions

[2016-05-02 00:02] spyhunter99 opened #62 "unit tests failures on API8-14"
[INFO] emulator-5554_test1_unknown_sdk :       junit.framework.ComparisonFailure: String blob expected:<...> but was:<...>

at org.sqldroid.DriverUnitTest.testBlob(DriverUnitTest.java:124)

[2016-05-02 01:02] ergouser commented on #5
Do we know why/where this code fails?  If anyone would like to capture
the exceptions we could take a look at why.  The return 1 is a complete
fake - it will be returned even if the update failed.

Last change count is listed as still being in SQLiteDatabase.java

It may be that it was once static(???), in which case

           getChangedRowCount =
sqliteDatabase.getClass().getDeclaredMethod("las

[2016-05-02 03:50] dperiwal commented on #5
I am trying to find a solution to the update count problem. I have a good idea of how to fix it. I am currently very busy with a new release of our product. I should be able to provide a solution and fix the related tests after middle of May.

[2016-05-02 04:41] ergouser commented on #5
The code as is shouldn't be hopelessly broken although  I feel that
there should be a better way than calling a package/private method.

On 05/01/2016 09:50 PM, dperiwal wrote:

--
Jim Redman
(505) 662 5156 x85
http://www.ergotech.com

[2016-05-03 00:38] #60 closed

[2016-05-03 00:38] spyhunter99 commented on #58
edit, looks to be at least api 15

[2016-05-03 00:39] spyhunter99 commented on #53
Is this part of the JDBC spec? I don't recall ever seeing anything like this.

[2016-05-03 00:42] spyhunter99 commented on #18
i did a bunch of work with this already, unfortunately, there's some reservations regarding how to actually run the unit tests. See #5 and the associated PR. I don't see how it can be completely rectified with maven since this library uses some JNA bindings, but only on JDK environments.

[2016-05-03 00:54] ergouser commented on #18
It should be possible to create a test suite for the SQLDroid JDBC
library which can be run on Android.

The same tests could (in principle) be run at build time using
compat/JNA/dll|so.  Not 100% assurance of success on Android, but most
of the results should be the same.  I'm not a Maven person, so I'm not
at all sure how that would be handled.

On 05/02/2016 06:42 PM, spyhunter99 wrote:

--
Jim

[2016-05-03 01:52] spyhunter99 commented on #18
The PR that's open mavenizes the whole thing and runs the tests on android.
the problem is that the tests do not run on JDk due to the require for
platform specific binaries being in the classpath, which are not available
as maven artifacts

On Mon, May 2, 2016 at 8:54 PM, ergouser <notifications@github.com> wrote:

[2016-05-03 02:46] michaelye commented on #53
@spyhunter99 I'm not sure that,but I think maybe it is a feature needed.Refer to http://sqlitejdbc.osdn.jp/org/sqlite/event/UpdateHook.html

[2016-06-09 04:51] dperiwal commented on #5
I have created a pull request <https://github.com/SQLDroid/SQLDroid/pull/65>
containing fixes for getting an update count and for getting a generated
row id. Thanks,

-- Damodar

On Sun, May 1, 2016 at 9:41 PM, ergouser <notifications@github.com> wrote:

[2016-06-15 17:39] dperiwal commented on #50
Fixed with pull request #65. Thanks,

[2016-06-15 17:39] #50 closed

[2016-06-18 11:20] EmeraldWolfram opened #66 "URL have to be "/data/data/PACKAGE_NAME_IN_DOT/DATABASE_NAME""
Thanks for the free JDBC driver, it works great until now for my project.

BUT

I found that the Quick Start Guide of this repository actually quite misleading.
I was a beginner in JAVA and I failed many times on getting the SQLiteCantOpenDatabaseException
because the path given in the example given was "jdbc:sqldroid:/com/example/myandroid/addressbook.db" but this actually didn't work for me.

Af

[2016-06-23 11:12] erikjber opened #68 "Connections are not closed properly if setAutoCommit(false) has been called."
Connections where AutoCommit has been set to false does not release the database properly when they are closed.

To reproduce:
[code]

This results in an exeption:
`android.database.sqlite.SQLiteDatabaseLockedException: database is locked (code 5): , while compiling: PRAGMA journal_mode
                                                                                at android.database.sqlite.SQLit

[2016-06-24 13:50] SStorm commented on #68
+1, worse than that, commit() actually opens up a new transaction, effectively never releasing the DB from the current thread. This makes it impossible to use the driver in a multi-threaded android app environment.
[code]

[2016-06-29 11:56] foreground-voice commented on #68
why!!! It's so ugly on android. I have issue because of this:
`W/SQLiteConnectionPool: A SQLiteConnection object for database '/data/data/..../databases/....sqlite' was leaked!  Please fix your application to end transactions in progress properly and to close the database when it is no longer needed.`

There are few discussions about closing of database: http://stackoverflow.com/questions/14002022

[2016-08-08 05:05] foreground-voice commented on #68
@erikjber , do you have any solution of this issue at the moment?
I have found some information in wiki here:
https://github.com/SQLDroid/SQLDroid/wiki/Tips-and-tricks-%28including-database-locking%29
And there are another approaches such as:
"begin **immediate** transaction"
and
ContentProvider - very drastically, I guess

[2016-08-15 15:24] ergouser commented on #33
If I'm reading this document, https://www.sqlite.org/datatype3.html correctly, it describes the data and time format at:

TEXT as ISO8601 strings ("YYYY-MM-DD HH:MM:SS.SSS").

so the format would appear to be

"yyyy-MM-dd HH:mm:ss.SSS"

That is, the centiseconds and milliseconds should not be dropped.

Issue #37 seems to be caught on both of these problems.

Pragmatically, it might be worth making

[2016-08-15 15:34] jhannes commented on #33
@ergouser Sounds like a good idea, but be aware that SimpleDateFormat is surprisingly not thread-safe.

[2016-08-15 16:19] ergouser commented on #33
good point, but that's a fairly small area of code to synchronize.  I'm trying to remember if the formatter is forgiving of missing milliseconds.  That is, will "yyyy-MM-dd HH:mm:ss.SSS" parse 2015-08-29 12:35:31?  It seemed to with the tenths (.S) so there may not be an issue with just adding the milliseconds.

[2016-08-15 16:26] ergouser commented on #33
The format could also be a static String rather than the formatter.  A DateFormat has more flexibility but that's probably not required.

[2016-08-15 20:28] jhannes commented on #33
@ergouser I agree. I've extracted the format String as a constant and added .SSS, which seems to work.

I found that .S also works, but trying the same with JodaTime (in another context), .SSS is required. I think SimpleDateFormat is more lenient. I think .SSS is probably best. I've changed to this in my commit.

[2016-08-15 20:48] #5 closed

[2016-08-15 20:48] #33 closed

[2016-08-15 21:36] jhannes commented on #56
This is fixed by commit baf400c9e8be9941712095557c23f01784f1d691

[2016-08-15 21:36] #56 closed

[2016-08-15 21:37] donv commented on #56
@jhannes Nice!  Did you get the invitation to join the project?

[2016-08-15 21:39] jhannes commented on #56
@donv Invitation accepted. :-)

[2016-08-15 21:39] donv commented on #56
Woohoo!

[2016-08-15 21:56] dperiwal commented on #50
Already closed with pull request #65

[2016-08-15 21:58] donv commented on #50
Yeah, just added it to the release milestone.  Thinking of making a release Real Soon Now™️.

[2016-08-15 22:40] donv opened #71 "Release 1.0.4"
Lots of commits lately!  Great!  Time for a release!

The RubyGem is released using `rake release`.

How are the maven artifacts released?  Who can do it?  Can I do it?

[2016-08-15 22:44] jhannes commented on #32
+1

I can implement this change if desired.

[2016-08-15 22:45] donv commented on #32
@jhannes Go ahead! 👍

[2016-08-15 22:57] ergouser commented on #32
Raising exceptions for most unimplemented methods is a good plan, however I think that there might be a few that are harmless - maybe status methods that return something useless rather than a valid status??

That is, I think that I occasionally see "not implemented" flash by but they don't seem to have any effect on the application (and, of course, I don't have any examples to hand).

Should be o

[2016-08-15 23:56] donv commented on #29
@dperiwal This is done, right?

[2016-08-16 00:14] dperiwal commented on #29
Yes @donv , This is fixed. Thanks.

[2016-08-16 00:14] #29 closed

[2016-08-16 00:18] dperiwal commented on #20
Thanks. Fixed with #65.

[2016-08-16 00:18] #20 closed

[2016-08-16 09:25] jhannes commented on #32
@ergouser I've worked my way through ResultSet. There are a number of methods in ResultSet where the spec allows for SQLFeatureNotImplementedException, and I've used that in these cases. I've left a few  warnings, for example for getTimestamp(int, Calendar).

Luckily all the updateXXX could be corrected with some editor shortcuts. :-)

Feel free to chip in on methods that should behave differently

[2016-08-16 09:32] jhannes commented on #18
Does 1f6c8f3d21c440ef843941aaf6e7c3e401102b4b address this sufficiently?

[2016-08-16 10:00] jhannes commented on #71
If @yanaga is still around, he probably knows best how to do this.

The process of releasing for Maven Central repository is documented here: http://central.sonatype.org/pages/ossrh-guide.html and http://central.sonatype.org/pages/apache-maven.html

In short:

Add a `<repository>` under `<distributionManagement>`, add your account at https://issues.sonatype.org/ to `~/.m2/settings.xml` and run `mv

[2016-08-16 13:12] yanaga commented on #71
Hi @donv & @jhannes! I can release in maven central for you.

In fact I use bintray for that, as it's much simpler than using sonatype directly :-)

[2016-08-16 15:13] jhannes commented on #71
Sounds great, @yanaga. Perhaps you could create an organization on bintray so @donv etc can release whenever? I found a good description of how: https://bintray.com/docs/usermanual/interacting/interacting_transferringownershipofarepoyouowntoanorganization.html

[2016-08-16 15:52] ergouser commented on #32
@jhannes Looks good.  I was thinking of methods like that and setFetchSize where ignoring the failure is (mostly) harmless.

[2016-08-17 18:44] jhannes commented on #32
I have added implementation or exception for pretty much everything now. I've added TODOs for all remaining System.err lines. I think the issue can be closed, but I'd like a review from @donv, @ergouser and @githubnemo first.

To review:
* TODOs saying "Evaluate if implementation is sufficient" - delete the comment and System.err if you think so
* All 67 TODOs if there's anything especially strang

[2016-08-17 18:46] jhannes commented on #34
Fixed by @mgaev in d47c09f0d6841ad441337ba2ec3fda77fd72b945

[2016-08-17 18:46] #34 closed

[2016-08-17 18:50] jhannes commented on #35
This seems to be fixed in 902c023f56cbe160124b1a4e02df40780c0777b5, but that predates the issue. @axelfontaine: Is this insufficient? https://github.com/SQLDroid/SQLDroid/blob/master/src/main/java/org/sqldroid/SQLDroidDatabaseMetaData.java#L311 (the code calls android.database.sqlite.SQLiteDatabase.getVersion, which is implemented with `DatabaseUtils.longForQuery(this, "PRAGMA user_version;", null

[2016-08-17 18:52] jhannes commented on #36
Fixed in 85807d55003c40654957c1e6d73fa3229a681c58 (which predates the bug, but was probably not released)

The new unit tests prove that it's working: https://github.com/SQLDroid/SQLDroid/blob/master/src/test/java/org/sqldroid/SQLDroidTest.java#L92

[2016-08-17 18:52] #36 closed

[2016-08-17 19:01] ergouser commented on #32
I don't have time to test this or build the tests, but I just hate to see the amount of effort expended in that method and then it just throws...

Blob:   	public byte[] getBytes(long pos, int length) throws SQLException {

add:

  if (pos >= b.length ) {
 +      throw new SQLException("pos must be < blob length");
 +    }
 +    if (length > b.length ) {
 +      throw new SQLException("length must

[2016-08-17 19:18] #37 closed

[2016-08-17 19:37] jhannes commented on #32
@ergouser Good idea, although it's not really part of this bug. :-) I've added assertions to a test and your implementation.

System.arraycopy may be slow for large values, but there is no other way to create a new byte array, so this has to be the implementation

[2016-08-17 19:53] ergouser commented on #32
There seem to be a few methods in Blob that would not be difficult to implement, but probably best left for another time.  Unrelated: there's enough activity that I'm starting to feel guilty about neglecting the non-Android portion.  The version I'm using works well, indeed I use the code as much off-Android as on, but it's been a while since I updated my installation.  I seem to be the only perso

[2016-08-17 20:24] jhannes commented on #24
This seems to have been addressed in c6a59b700c81c223936f2d38aef13d42cf1f91ca. *But I think that rather than fixing the issue, this introduced a new bug, where the Blob is one byte too _short_*

I've added some tests to try to find the bug, but instead, there seems to be a new bug created by this commit. See https://github.com/SQLDroid/SQLDroid/blob/faf011d7a3329ea1274fd79ef12ba7f48bdcbd4b/src/tes

[2016-08-17 20:28] jhannes commented on #17
Fixed in f99a66adbcccaeba9e902bb953edcc64a0ef0640

[2016-08-17 20:28] #17 closed

[2016-08-17 20:51] jhannes commented on #43
This was fixed in 0c172f0e98f0304e9d173219d73e822d6c05c066

[2016-08-17 20:51] #43 closed

[2016-08-17 21:02] #42 closed

[2016-08-17 21:18] jhannes commented on #32
@ergouser Let's leave the Blob implementation for another issue.

I think most of the activity is my frequent commits, so I wouldn't feel too guilty if I were you. :-)

However, I think you just blew my mind: Do you use SQLDroid on non-Android Java implementations as well? That's awesome! How do you do it?

[2016-08-17 21:21] jhannes commented on #11
It seems like this is not a bug, just wrong path to the database.

However, there are lots of issues related to missing/unwritable directories. Perhaps it would be a good idea to handle this specifically? Either verify that the directory exists and is writable or try to create it. What do you think @donv?

[2016-08-17 21:22] jhannes commented on #54
Added test in 6ff177247b910e7b2f7a7449551dfbc6014e45dd

[2016-08-17 21:36] donv commented on #24
I think the fix was correct, at least for my use cases.  It is a while ago, so I cannot remember clearly, but I think we got an extra zero-byte compared to the string we actually stored.

Hopefully we can get the same test suite green in Robolectric and in an emulator to be sure.

[2016-08-17 21:39] jhannes commented on #66
Updated wiki and added a minimal example to README.md.

[2016-08-17 21:39] #66 closed

[2016-08-17 21:51] ergouser commented on #32
It uses JNA and the native code provided by SQLite.

Basically, build a jar, say "SQLDroidCompat.jar" from:
compat/android
add that, the jna.jar and the appropriate .so, .dll, etc.for you platform from the SQLite website to your project (as well as the SQLDroid jar).

I've used it on Windows (32 & 64) and Linux. We generate code that works on pretty much any platform, including Android.  Any JDBC

[2016-08-17 21:53] donv commented on #11
Yes, handling this sounds like the right thing to do.  Creating the parent directory if missing, and checking write permissions should lead to fewer errors and better error messages.

Go ahead if you can.  Great work @jhannes !

[2016-08-17 22:05] donv commented on #66
@jhannes I am following you around setting labels and milestone for all the issues you work on and close.  Great work!

Can you set a fitting label and the "1.1" milestone for issues you work on or close?  That is even if the issue actually was fixed long ago.

I added the `Documentation` label for issues like this.

The `Support` label is a bucket label for all kinds of "Won't fix", "Not a bug",

[2016-08-17 22:12] donv commented on #32
This is a great feature and should be documented and linked from the README.  Can you do that @ergouser ?  Any format will do, but I think I would prefer a Markdown (.md) file in a `doc` folder.

Build instruction, a simple example, and a link to where one can get the `jna.jar` should do it.

[2016-08-17 23:06] ergouser opened #73 "SQLDroid on JDK (non-Android) platforms."
SQLDroid can be used on standard JDK platforms through the use of the JNA/Compatibility layer.  This needs to be documented and brought into the build/test system.

Basic procedure:

Build a jar, say "SQLDroidCompat.jar" from:
compat/android
add that, the jna.jar and the appropriate .so, .dll, etc.for you platform from the SQLite website to your project (as well as the SQLDroid jar).

Works on Win

[2016-08-17 23:08] ergouser commented on #32
I've created a new issue (#73) to track this.  I won't have time for it for a little while, but I'll try to get back to it whenever I can.

[2016-08-18 19:51] jhannes commented on #73
Another approach could be to introduce an interface between the SQLDroidXXX classes and the android.database-classes. This has already been begun with the SQLiteDatabase class. This way, the android.database classes and the compat-classes could be two different implementations of the same interface and no manual build steps would be needed.

This doesn't solve the problem of having to have the app

[2016-08-18 21:25] ergouser commented on #73
@jhannes I'm not sure that I understand what you have in mind.  SQLite.java is just a wrapper for the dll/so via JNA.  Last time I looked, Xerial was doing the same thing with JNI but they bundle all the native code in the jar so it doesn't look as though there's a native piece.  The SQLite "database" is just a file on the disk, the "engine" is the native C code, everything else is wrappers.  Trul

[2016-08-19 17:58] jhannes opened #74 "Create directory for databasefile if not exists"
Many support issues stem from the fact that you can only create a database file in an existing directory. Let's attempt to create the directory for the user.

[2016-08-19 18:19] ergouser commented on #74
There's a boolean success/fail from mkdirs() - might be worth checking.  It would be nice to know why it failed, but that's not as easy to discover as you might hope.  II frequently put the db on /sdcard which fails if you don't have the correct permission.

[2016-08-19 20:10] jhannes commented on #73
@ergouser It's hard to explain design. I've made an experimental branch to demonstrate what I mean:

https://github.com/SQLDroid/SQLDroid/tree/jdk-experimental-poc

I have not added tests for this yet, but in this commit, the only thing missing is the library. If you use this commit outside android, or with the JDBC url jdbc:jnasqlite:<filename>, it will use the implementation previously under com

[2016-08-19 20:14] jhannes commented on #24
You're right. I was able to reproduce your result: Under Android, String.getBytes() returns a final \0-byte, at least in this case.

[2016-08-19 20:28] ergouser commented on #73
I'm not convinced of the benefit.  It adds complexity to the Android SQLDroid by introducing an new layer.  The code in the jna layer is basically the same as ever but in a new package.  Is there something that makes you uncomfortable about having the code in android.database and to prefer the jna/android structure?  (I spend a lot of time emulating existing packages, which is how we run code orig

[2016-08-19 20:36] #23 closed

[2016-08-19 20:36] #54 closed

[2016-08-19 20:36] #68 closed

[2016-08-19 21:49] jhannes commented on #73
AFAIK it would create huge problems to have android.* packages in the jar file when deploying on Android, so if the jar should contain emulating code, it needs to have a different package name.

I agree that it adds a layer of complexity, but in the case of your usage, it just makes an existing layer of complexity visible. :-) The advantage is that this way all the code can be under one build mana

[2016-08-19 21:51] jhannes commented on #74
Actually, mkdirs returns false if the directory was already there. However, a check for directory.isDirectory afterwards will serve the same purpose. I'll add this.

I agree that it would be nice, but difficult, to know why it may not work.

[2016-08-19 21:53] jhannes commented on #11
Since this was mostly a support request, I suggest closing it in favor of #74

[2016-08-19 21:53] #11 closed

[2016-08-19 21:54] jhannes commented on #9
Let's close this in favor of #74

[2016-08-19 21:54] #9 closed

[2016-08-19 22:08] ergouser commented on #73
Agreed on not deploying android.packages to Android.  We keep the compatibility jar with the JDK code and add the SQLDroid jar as needed.  If there's a goal of putting the native code into the jar, then one jar is probably not a good plan. I don't have any problems with either approach.  From the JDK side I like your approach better, my concern is whether this is an acceptable direction for the An

[2016-08-19 22:09] ergouser commented on #73
Unrelated, I wish I could remember who to credit for the SQLite.java file - that's not originally mine.

[2016-08-20 17:57] jhannes commented on #73
I think the change makes the code somewhat more logically structured for Android as well. This way, the "top" of the code - the JDBC implementation - is clearly separate from the bottom - adapting to the android API.

@donv What do you think of this PoC restructure?

[2016-08-20 18:04] #74 closed

[2016-08-21 11:29] donv commented on #73
I don't have the full overview of the change, but what I have seen of the PoC makes sense.

I'd like to build and test both variants in travis so they don't decay.

I want the Android package to be as lean as possible:  no extra classes for non-Android use in the Android distribution jar.

[2016-08-21 21:24] donv commented on #18
@jhannes Where did you add test tests?

[2016-08-21 21:49] jhannes commented on #18
https://github.com/SQLDroid/SQLDroid/tree/master/src/test/java/org/sqldroid

[2016-08-22 07:14] jhannes commented on #73
@donv: It's a pretty large diff online because of the file moves. The essence of the change is [SQLDroidConnection.createDatabase](https://github.com/SQLDroid/SQLDroid/blob/a6fe19475fc7c363c3470e6045e219b071292f21/src/main/java/org/sqldroid/SQLDroidConnection.java#L147) In addition, [SQLiteDatabase](https://github.com/SQLDroid/SQLDroid/blob/a6fe19475fc7c363c3470e6045e219b071292f21/src/main/java/or

[2016-08-22 12:37] jonschmidt opened #75 "`SQLDroidDatabaseMetaData#getColumns` ignores `columnNamePattern` parameter"
https://github.com/SQLDroid/SQLDroid/blob/master/src/main/java/org/sqldroid/SQLDroidDatabaseMetaData.java#L141

I believe that the `getColumns` method should adhere to the interface presented here:

https://docs.oracle.com/javase/7/docs/api/java/sql/DatabaseMetaData.html#getColumns(java.lang.String,%20java.lang.String,%20java.lang.String,%20java.lang.String)

Which means that `columnNamePattern` s

[2016-08-22 15:21] ergouser commented on #73
@jhannes Having a different Driver class would be a problem for us because we use exactly the same code on JDK and Android.  It's not an impossible problem - with jarjar(https://github.com/shevek/jarjar) many things are possible.  Keeping the android.database classes means that the JDK version has another jar, but I'm not sure that's a problem and could be an advantage if we decide to package the

[2016-08-22 15:35] jhannes commented on #73
@ergouser Okay, then it has to be the same driver class. Reflection can be used to support missing classes.

I really dislike that some of the code is not part of the build. I also see the potential for the JDK classes providing better test support. I've been unable to collect coverage from the current test suite, but the JDK-classes could help with that.

Also, it seems like currently, the JDK ve

[2016-08-22 15:46] ergouser commented on #73
@jhannes I agree on testing. I'm not sure why two jars vs. one jar makes a difference for distribution or anything else.  The jna.jar and a native library are also required.

[2016-09-27 08:25] gabrie-allaigre opened #76 "SQLDroid with Flyway for Android"
Hi,

Last version of SQLDroid (1.1.0-SNAPSHOT) does not work with Flyway.
Because SQLDroid throw new UnsupportedOperationException() on setEscapeProcessing in SQLDroidStatement.

Thanks

[2016-09-27 08:38] gabrie-allaigre opened #78 "Manage Log"
Hi,

SQLDroid use org.sqldroid.Log for logger. But logger use Logcat of android.
I propose to have interface ILog for use other Logger. Pull Request #77

Thanks

[2016-12-08 14:11] SAMSA-IT opened #80 "SQLDroid supports encryption using SQLCipher - Need help to integrate new code"
Hello all,

my team modified the code of SQLDroid to work with SQLCipher on top of SQLite. This adds the feature of 256 bit AES encryption to SQLDroid.
https://github.com/sqlcipher/sqlcipher

It took around 12 small code changes to do it. In my eyes it would be best to enhance SQLDroid with some kind of switch, which would allow to activate/deactivate encryption. (Our new code currently only works

[2016-12-13 21:12] erikjber opened #81 "ResultSet.getObject returns wrong type when column is DOUBLE or BIGINT."
ResultSet.getObject(int columnindex) should return an object that encapsulates the database column.
This does not hold for DOUBLE and BIGINT columns. Instead of returning java.lang.Double and java.lang.Long, getObject returns java.lang.Float and java.lang.Integer, respectively.

The database holds the correct values, but they get truncated to fit the returned data types.

Here's example code to pr

[2016-12-14 09:39] erikjber commented on #81
Since FLOAT columns are stored in SQLite as 8 bytes, the default java type for a FLOAT column should be Double, not Float, in cases where it is not possible to determine at runtime what the real type of the column or entry is.

[2016-12-15 17:58] arliweng opened #82 "executeUpdate return 1 even not hit"
hi, thank u for wrapper sqlite jdbc on android, that r lot help, we can direct convert from web project. except one, on the document, PreparedStatement.executeUpdate return is:
the number of affected rows for INSERT, UPDATE or DELETE statements, 0 for statements that return nothing. but sqldroid not, test code here:

try {
	DriverManager.registerDriver((Driver) Class.forName("org.sqldroid.SQLDroid

[2016-12-15 22:37] erikjber opened #83 "PreparedStatement.setBoolean(...) does not behave as expected"
When querying a table with BOOLEAN columns, the PreparedStatement.setBoolean() method does not act as expected. No matter what values are passed to it, it always returns 0 matches.

The following code illustrates the problem:

        Connection con = ....

        PreparedStatement stmt = con.prepareStatement("CREATE TABLE FOO (BAR BOOLEAN)");
        stmt.execute();
        stmt = con.prepareSta

[2017-02-12 18:21] jsone-studios commented on #71
Hi, when are u planing to release the new version 1.1.0? In the 1.1.0 milestone it says it is already 6 months due...

[2017-07-25 09:12] silvergate opened #85 "SQLDroidResultSet#getObject wrong for INT and FLOAT"
Similar to #81

**Reproduction**
1. Store an int value > 2^31-1: e.g. '9007199254740991'
2. Read that value from column using getObject

**Expected**
A java long with value '9007199254740991'

**Actual result**
java.lang.NumberFormatException: For input string: "9007199254740991" (note: Exception comes from Robolectric, might look a bit different depending on the Android-platform)

**Location in c

[2017-07-25 09:21] silvergate opened #86 "getGeneratedKeys() returns null"
Note: Minor bug (changed my code to treat 'null' the same as an empty result set).

According to the documentation of Statement#getGeneratedKeys(), it should never return null (it can however return an empty result set).

Doc
[code]

The implementation in SQLDroidPreparedStatement sometimes returns null:

[code]

[2017-08-12 22:41] spyhunter99 opened #87 "Batched inserts are failing"
Does this driver support addBatch, executeBatch, clearBatch and clearParameters? I'm having some issues with batched prepared statements, getting errors like the number of parameters doesn't match the batch insert count

[2017-08-13 17:24] spyhunter99 commented on #87
here's some relevant log output

[code]

[2017-08-13 17:31] spyhunter99 commented on #87
Update: the previous log output was probably unrelated...
[code]

[2018-02-26 13:05] axelfontaine commented on #71
Is there anything holding this back? This is a real problem for Flyway users as they are hitting bugs in 1.0.3 that have long been fixed in master.

See https://github.com/flyway/flyway/pull/1933 & https://github.com/flyway/flyway/issues/1909

[2018-02-28 21:10] jhannes commented on #71
@yanaga Ping! Can you help make the release happen here? (Or even better, creating a organization so more people can do the releases)

[2018-03-01 14:54] yanaga commented on #71
@jhannes I'll try to work on it today or tomorrow. Thanks for your patience! I rarely see the GitHub notifications. I tried to create the organization before, but didn't succeed. Will try again too.

[2018-03-01 15:01] axelfontaine commented on #71
@yanaga GitHub support is usually very helpful and responsive when one contacts them, so this may be an avenue worth pursuing in case the organization conversion is causing trouble again.

[2018-03-02 13:12] donv commented on #71
What do you need the organization for?

[2018-03-14 11:14] axelfontaine commented on #71
@yanaga Ping! Any update on this?

[2018-03-22 13:50] yanaga commented on #71
@axelfontaine Ops, sorry. Got trapped on travels again...
@donv I release the artifacts through Artifactory, so I was trying to setup an organization there. Let me work on this.

[2018-03-22 17:20] donv commented on #71
@axelfontaine excellent!  Keep at it!  Having an organization at Artifactory should enable more of us to make releases :)

[2018-04-09 14:58] axelfontaine commented on #71
@yanaga Ping! Have you been able to make progress on this?

[2018-05-15 13:51] axelfontaine commented on #71
@yanaga Ping! What is holding this back?

[2018-08-10 14:32] FilenkovMaxim commented on #71
@axelfontaine you use this option in FlyWay only for printing to log!!!
Why you don't fix this usage in your code? So many choices to do that, but instead this your android users have not working library. I really do not understand it.
Check it for null before print, it's easy, isn't it?

[2018-08-13 14:25] axelfontaine commented on #71
@FilenkovMaxim Would you like to step up and release an official SQLDroid fork? We would then gladly add support for it in Flyway.

[2018-08-13 15:07] FilenkovMaxim commented on #71
@axelfontaine I'm afraid I have neither the qualifications nor the time to do this. I solved my problem much easier - by building sqldroid-1.1.0-SNAPSHOT.jar
Of course, I do not understand why the sqldroid command does not update the binary in the repository, but even more so, I do not understand your unwillingness to add one simple line of code with a null check to your code. One. Simple. Line.
A

[2018-08-23 09:47] lyubomyr-shaydariv commented on #71
2 years and 1 week since then. Guys, are there any chances to have it released finally to unblock Flyway 5?

[2018-08-23 12:17] jhannes commented on #71
@yanaga seems to be unresponsive. I suggest that if @donv doesn't object, that I raise an issue with https://issues.sonatype.org/ to give me and him access to publish to `org.sqldroid` as well. What do you say, @donv? (I have 3 projects where I do this already)

[2018-08-23 12:30] FilenkovMaxim commented on #71
@lyubomyr-shaydariv unfortunately just rolling out the release now does not help unblock Flyway. There are still unrealized methods necessary for migration. At least in SQLDroidStatement.java

[2018-08-24 19:04] jhannes commented on #71
@donv I have created an issue to this effect at https://issues.sonatype.org. Feel free to create a sonatype account if you want me to teach you to push releases yourself.

@FilenkovMaxim Do you have a pull request?

[2018-08-24 21:43] jhannes commented on #71
@lyubomyr-shaydariv @FilenkovMaxim @donv I've released 1.1.0-rc1 to Maven Central: http://central.maven.org/maven2/org/sqldroid/sqldroid/1.1.0-rc1/

Please take a look and comment on whether we should go for 1.1.0 or push another rc.

@donv I've documented the prerequisites and steps to uploading new version http://central.maven.org/maven2/org/sqldroid/sqldroid/1.1.0-rc1/

[2018-08-27 05:05] FilenkovMaxim commented on #71
@jhannes I didn't make pull request, because I didn't implemented those methods, but just only removed throw exception line in setEscapeProcessing().

[2018-08-27 15:39] jhannes commented on #71
@FilenkovMaxim Is the problem the methods that throw UnsupportedOperationException? There are 5 such methods in SQLDroidStatement and 30 in other classes. Some of these may prevent accidental mistaken assumption such as setQueryTimeout and setMaxFieldSize.

Do you have any guideline as to which should be removed and which should be kept?

[2018-09-10 07:16] FilenkovMaxim commented on #71
@jhannes I'm sorry for late.
Actually I did only this change
[code]
and  it was enough for flyway migrate execution. But I don't think this is right way of course and what method could throw exception in the future.

[2018-09-14 01:11] lackern opened #89 "DB file header got altered after reading"
Android API 28/Pie

The integrity of my db file has been altered after access the db via SQLDroid library. After comparing with the original file, i realised that the db header information got altered.

This only happened in Android Pie.

[2018-12-19 02:13] aschmois commented on #68
I have just confirmed (after very painful debugging) that auto commit to off is still a problem in 1.1.0-rc1

[2019-03-31 20:28] koldunchik commented on #76
Any updates on this?

[2019-04-02 16:06] donv commented on #76
No updates, I'm afraid.  If you would like to work on it, we welcome PRs.

[2019-12-03 11:29] MikielAgutu commented on #76
@donv The PR #91 that fixes this issue is now merged. When will the next release be?

[2020-07-18 23:04] Miha-x64 opened #93 "Is there a permanently open exclusive transaction?.."
Hello. This looks suspicious to me:

https://github.com/SQLDroid/SQLDroid/blob/b034f20304f9a96a2ebe7a46165379f98b34c868/src/main/java/org/sqldroid/SQLDroidConnection.java#L412

A thread who clears autoCommit starts holding an EXCLUSIVE lock. Shouldn't this prevent any other threads from even reading the database?
Or autoCommit should be cleared just before calling any mutating SQL statements?

[2020-10-01 15:10] jeffque opened #94 "Unit tests for the return of batch execution?"
I'm using SQLDroid to do some batch upserts in my database, and I rely heavily on the result of the queries to know if my updates were succesful or if it had failed.

My preliminary non-confirmed tests indicates that for an unupdatable batch update, which I expected to have returned an array filled with 0s in the `.executeBatch()` , returns an array full of non-0s.

I couldn't find any unity test